name: K2P-AD-ENHANCED

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y \
        build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses-dev \
        libssl-dev python3-distutils rsync unzip zlib1g-dev file wget

    - name: Clone LEDE
      run: |
        git clone https://github.com/coolsnowwolf/lede firmware
        cd firmware
        git checkout master

    - name: Update Feeds
      run: |
        cd firmware
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Load Config
      run: |
        cp .config firmware/.config
        cd firmware
        make defconfig

    - name: Build Firmware
      run: |
        cd firmware
        make -j$(nproc)

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: K2P-Firmware
        path: firmware/bin/targets/